html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
  background-color: #3a3a3a;
  padding: 12px 5% 12px 12%;
  border-bottom: 30px solid #eee;
  border-top: 10px solid #fa6900;
}

header .logo {
  max-width: 650px;
  display: inline-block;
}

header .logo img {
  display: block;
  float: right;
  margin-top: -7px;
  max-width: 100%;
  width: 25%;
}

header h2 {
  display: inline-block;
  vertical-align: 20px;
  line-height: 1.5em;
}

header h2 a:hover {
  text-decoration: none;
  border-bottom: none;
}


h5.date {
  font-size: 15px;
  margin-bottom: 0;
  font-weight: normal;
}

h5.tags {
  margin-top: 5px;
  font-weight: normal;
}

header h2 a {
  border: none;
  font-size: 38px;
  text-shadow: 2px 1px 1px black;
  letter-spacing: 5px;
  color: #fafafa;
  text-decoration: none;
}

header h2 a:hover {
  text-shadow: -2px 1px 1px black;
}

header h2 a:visited {
  color: #fafafa;
}

body {
  font-size: 18px;
  line-height: 1.6;
  color: #292929;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}

body pre {
  display: inline-block;
  font-size: 13px;
  white-space: pre-wrap;
  width: 100%;
}

body p code {
  font-size: 13px;
  background-color: #F0F0F0;
}

section.main {
  padding: 5px 5% 65px 0;
  margin-left: 12%;
  max-width: 775px;
  display: inline-block;
  float: left;
  width: 100%;
}

section.main .post-bottom {
  margin-bottom: 20px;
}

section.main .post-bottom div {
  margin: 10px 0 10px;
}

aside {
  max-width: 330px;
  display: inline-block;
  font-size: 14px;
}

aside .top-drawer {
  padding: 10px;
}

aside .top-drawer p {
  font-size: 16px;
}

.about {
  margin: 12px 0 22px;
  padding: 5px 10px;
  background-color: #EEE;
}

.about p {
  font-size: 16px;

}

.about .controls a:visited {
  color: #B88630;
}

.mobile-bottom {
  display: None;
}


@media (max-width: 1094px) {
  aside {
    display: none;
  }

  section.main {
    margin-left: 30px;
  }

  aside .bottom-drawer, aside .about {
    display: none;
  }

  .mobile-bottom {
    display: inline-block;
    max-width: 650px;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 25px;
  }
}

@media (max-width: 360px) {
  section.main {
    padding: 5px 20px 65px;
    margin-left: 0;
  }

  aside {
    float: None;
    max-width: none;
    position: relative;
    padding-left: 0;
  }

  aside .top-drawer {
    display: None;
  }

  aside .about {
    position: relative;
  }

  aside .bottom-drawer {
    display: None;
  }

  .mobile-bottom {
    padding: 0;
  }
}


a {
  text-decoration: none;
  border-bottom: 1px dashed #B88630;
  font-family: arial;
  transition: all 2.35s ease-in-out;
  color: #B88630;
}

a:visited {
  color: #8F7E30;
}

a:hover {
  border-bottom: 1px dashed #fa6900;
}

a.big-link {
  font-size: 16px;
}

.link-list {
  padding: 0;
  margin: 0;
}

.link-list li {
  padding: 0 0 15px;
  margin: 0;
  list-style-type: none;
}

.year-header {
  font-family: arial;
}

footer {
  font-size: 13px;
  padding: 5px 10px;
  background-color: #EEE;
}

blockquote {
  background-color: #F5F5F5;
  padding: 2px 12px;
  font-style: italic;
}

blockquote blockquote {
  background-color: #E5E5E5;
  padding: 3px 12px;
}
