<div class="about">
  <p>
    Hi, I'm Matt.
  </p>
  <p>
    This blog is an unordered set of thoughts extracted from the mind of a software developer.
  </p>
  <div class="controls">
    <p>
      <a class="big-link" href="/posts/good-python-code-to-read.html">Good Python Code to Read</a></br>
      <a class="big-link" href="/hire-me.html">About Me</a></br>
      <a class="big-link" href="/matt@mattscodecave.com.pub.asc">PGP key</a>
    </p>
    <a href="/">Archives</a>
    &nbsp;<a href="/feed" target="_blank">Feed</a>
    &nbsp;<a href="http://photolog.mattscodecave.com" target="_blank">The Photolog!</a>
    &nbsp;t: pr0tagon1st
  </div>
  </p>
</div>
