<div id="mlb2-1531407" class="ml-subscribe-form">
    <div class="ml-vertical-align-center">
        <div class="subscribe-form ml-block-success" style="display:none">
            <div class="form-section">
                <h4>Follow me via email!</h4>
                <p>Thank you! You have successfully subscribed to our newsletter.</p>
            </div>
        </div>
        <form class="ml-block-form" action="//app.mailerlite.com/webforms/submit/b1r6r8" data-code="b1r6r8" method="POST" target="_blank">
            <div class="subscribe-form">
                <div class="form-section">
                    <h4>Follow me via email!</h4>
                    <p>
                        <p>I'll notify you about new posts and ideas, at most once a week. No spam, ever.</p>
                    </p>
                </div>
                <div class="form-section">
                    <div class="form-group ml-field-email ml-validate-required ml-validate-email">
                        <input type="email" name="fields[email]" class="form-control" placeholder="Email*" value="">
                    </div>
                    <div class="form-group ml-field-name">
                        <input type="text" name="fields[name]" class="form-control" placeholder="Name" value="">
                    </div>
                </div>
                <input type="hidden" name="ml-submit" value="1" />
                <button type="submit" class="primary">
                    Please Follow Me
                </button>
                <button disabled="disabled" style="display: none;" type="submit" class="loading">
                    <img src="//static.mailerlite.com/images/rolling.gif" width="20" height="20">
                </button>
            </div>
        </form>
        <script>
            function ml_webform_success_1531407() {
                jQuery('#mlb2-1531407').find('.ml-block-success').show();
                jQuery('#mlb2-1531407').find('.ml-block-form').hide();
            };
        </script>
    </div>
</div>
