{% extends "index.html" %}

{% block content %}
  <div class="intro">
    <p>
    </p>
  </div>
  <h4>Archive</h4>
  <ul class="link-list">
    {% for group in meta.indexed|groupby('date.year')|sort(reverse=True) %}
    <h4 class="year-header">{{ group.grouper }}</h4>
        {% for indexed_item in group.list %}
        <li>
          <a href="{{ meta.indexed_dir }}/{{ indexed_item.filename }}.html">{{ indexed_item.title }}</a>
        </li>
        {% endfor %}
    {% endfor %}
  </ul>
{% endblock content %}
